---
layout: default
---
{% assign rosters = site.data.rosters %}
{% assign groups = site.data.groupinfo %}
{% assign kpis = site.data.kpis %}
<div class="container mt-4">
    <div class="row">
     <div class="col-sm-9">
<h2>{%for group in groups%}{%if group.object-id == page.group-id %}<a target="_blank" href="{{group.link}}">{{group.title}}</a>{%endif%}{%endfor%} <small><sup><i class="fas fa-external-link-alt"></i></sup></small></h2>
<ul>
    <li>Established: {{page.established}}</li>
    <li>Listserv: <a href="mailto:{{page.listserv}}">{{page.listserv}}</a></li>
    <li>Chair(s): {%for chair in rosters%}{%if chair.team == page.group-id and chair.role contains "chair" %}<span class="mr-2"><b>{{chair.name}}</b>, {{chair.institution}} </span>{%endif%}{%endfor%}</li>
    {%for doc in site.data[page.group-id].official_docs%}
            <li>{%if doc.type%}{{doc.type | capitalize}}: {%endif%}<a href="{{doc.link}}">{{doc.title}}</a></li>
            {%endfor%}
</ul>
<dt>Overview</dt>
<dd class="my-2"> {{page.overview}}</dd>
{{content}}
<div class="card">
        <div class="card-header">Important Resources</div>
        <div class="card-body">
            {%for resource in site.data[page.group-id].resources%}
            <dt><a href="{{resource.link}}">{{resource.title}}</a></dt>
            {%if resource.description%}<dd>{{resource.description}}</dd>{%endif%}
            {%endfor%}
        </div> 
</div>
     </div>
     <div class="col-sm-3">
            <div class="card">
                    <div class="card-header">Meeting Minutes</div>
                    <div class="card-body">
                        {%for minutes in site.data[page.group-id].meeting_minutes%}
                        <dt><a href="{{minutes.link}}">{{minutes.date}}</a></dt>
                        {%endfor%}
                    </div> 
            </div>
            <div class="card mt-4">
                <div class="card-header">Groups</div>
                <div class="card-body">
                    {% for group in site.groups %}
                    <dt><a href="{{ group.url | relative_url }}">{{group.group-id | upcase}}</a> | <a href="mailto:{{group.listserv}}"><i class="fas fa-envelope"></i></a></dt>
                  
                     {%endfor%}
                </div> 
        </div>

            <div class="card mt-4">
                    <div class="card-header">Roster</div>
                    <div class="card-body">
                        {%for member in rosters%}
                        {%if member.team == page.group-id%}
                        <dt>{%if member.link%} <a href="{{member.link}}">{{member.name}}</a>{%else%}{{member.name}}{%endif%} <a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a></dt>
                        <dd>{%if member.role != "member"%} <em>{{member.role | capitalize}}</em><br/>{%endif%}{{member.institution}}</dd>
                        {%endif%} {%endfor%}
                    </div> 
            </div>

</div>